$primary-color: #000;

body {
  background: $primary-color;

  // TRUE
  @if ($primary-color == #000) {
    color: #fff;
  }

  //
  @else if ($primary-color == #fff) {
    color: #444;
  }

  //
  @else {
    color: #000;
  }
}
